# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=ba161a25-b0f2-4b7a-8217-da32a52ff0a5

    # Set to true to disable all reporting
    B:opt-out=false
}


